# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://postgres.xbgxqhqwepaykphkajjn:testsimplecart@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
JWT_SECRET=lTY7AOgyQ8+ViEIAjijB/3BDlmsoKxQzcaWK9nSMzkCRxMujN3vr6B+d1hAWh/RgXSSoVFvc5aTdIakWq0XQBKr30G6YLLLMWQj2rRj1BpYw54b3WupGzGM98SCYuB4WhcbuNMMj/49GYzHei/15vVVq908WLwTbWj3wGZeB7pjcS4oKYh2P+bOHSPIWWKtN/PdyvPVQYKggoNcvunQr0lLWl8X7U614B4aMQItCc4hcygK+Gtw+SuO+3eSyFbo2d3N5GQ6TPC3qqKhrmqCc/EqSa5lB0Th4yGb5y/vzOv64zZ+UcsFad37EoEpGdYnx1iQ4sRquWyEE0HWPk2LjAQ==